---
layout: default
title: TIDE Magazine Store
meta-description:
colour-bg: light-blue
issue_list:
  - title: Number Thirteen
    image: /uploads/issue-13/tide-magazine-issue-13-cover-mockup.png
    available: In-Store Worldwide
    sold_out: false
    price: £12.00
    subscription_price: £54.00
    description_html: >-
      <p>With their ancient histories, minimalist architecture and tastes of the
      sea, the Greek Islands are a sailing paradise – and the theme of our
      latest issue. We reveal the fresh spots that are exciting locals as much
      as summer visitors, from a run of recently launched eco-minded hotels to
      sweet new tavernas with heart. And we share the ultimate route to take
      around the northern Dodecanese, filled with secret bays and tucked-away
      anchorages, on what remains a frontier unexplored by most sailors.
      Elsewhere, we meet with the owner and Captain of <em>Kiboko 4</em>, the
      newly crowned Superyacht of the Year that skims across our cover, to
      discuss her 'Beautiful Lightness of Being' . And we explore second lives:
      that of the 78ft <em>Drumfire</em>, the boat reborn in Australia following
      many quiet years in the Med; and that of <em>Ravenger</em> – Refit of the
      Year – and sleek performance cruiser<em> Samurai</em> – plus much, much
      more. <br /><br /><em>‘Too oi theoí tha féroun ton ánemo’</em></p>
    link_shop: >-
      https://www.mymagazinesub.co.uk/tide/back-issues/back-issues-2025/details/tide-issue-13/
    link_subscribe: https://www.mymagazinesub.co.uk/tide/
    spreads:
      - image: /uploads/issue-13/tide-magazine-sailing-lifestyle-travel-issue12-1.png
      - image: /uploads/issue-13/tide-magazine-sailing-lifestyle-travel-issue12-3.png
      - image: /uploads/issue-13/tide-magazine-sailing-lifestyle-travel-issue12-2.png
      - image: /uploads/issue-13/tide-magazine-sailing-lifestyle-travel-issue12-4.png
      - image: /uploads/issue-13/tide-magazine-sailing-lifestyle-travel-issue12-5.png
  - title: Number Twelve
    image: >-
      /uploads/issue-12/tide-magazine-sailing-lifestyle-travel-issue-12-cover.png
    available: In-Store Worldwide
    sold_out: false
    price: £12.00
    subscription_price: £54.00
    description_html: >-
      <p>For this edition we go on a South American adventure, joining
      <em>Aragon</em>’s crew after their 21-day crossing of the Southern Ocean
      through the Roaring Forties and Screaming Fifties to sail Patagonia’s
      glacial waters and fjords. We then retreat into a place with front-row
      seats to the region’s wild landscapes, and onto Uruguay’s José Ignacio for
      a delicate Pinot Rosé at its local winery. In Panama, the remote, untamed
      Islas Secas beckon, followed by Caribbean waters and a private island
      tucked within Colombia’s Rosario archipelago – all rounded off by a route
      along Cuba’s south-eastern coastline. One Superyacht we catch up with
      before she too moves onto South America is the sublime, award-winning
      <em>Sarissa</em>, while back on the Med <em>Black Pearl</em> demonstrates
      the powerful potential of the DynaRig system – plus much, much
      more.</p><p><br /><em>Vida, Tierra y Mar </em>(‘Life, Earth, and Sea’</p>
    link_shop: >-
      https://www.mymagazinesub.co.uk/tide/back-issues/back-issues-2025/details/tide-issue-12/
    link_subscribe: https://www.mymagazinesub.co.uk/tide/
    spreads:
      - image: >-
          /uploads/issue-12/tide-magazine-sailing-lifestyle-travel-issue-12-1.png
      - image: >-
          /uploads/issue-12/tide-magazine-sailing-lifestyle-travel-issue-12-2.png
      - image: >-
          /uploads/issue-12/tide-magazine-sailing-lifestyle-travel-issue-12-3.png
      - image: >-
          /uploads/issue-12/tide-magazine-sailing-lifestyle-travel-issue-12-4.png
      - image: >-
          /uploads/issue-12/tide-magazine-sailing-lifestyle-travel-issue-12-5.png
  - title: Number Eleven
    image: /uploads/issue-11/TIDE-Magazine-Issue-11-Cover-mockup.png
    available: In-Store Worldwide
    sold_out: false
    price: £12.00
    subscription_price: £54.00
    description_html: >-
      <p>All eyes look North for this year’s Winter issue, to explore the
      thousands of isles that make up Scandinavia, land of mystic lights and
      days filled with epic sailing adventures. From Spirit match racing in
      Stockholm to an itinerary hopping between secret gems in the Swedish
      archipelago, onto a secluded eco-cabin on the tiny Finnish island of
      Skjulskäre, we let the region’s magic wash over us. We also explore
      Superyacht Nilaya with her Captain, sit down with Southern Spas and Doyle
      Sails to discuss the pioneering ways they’re both harnessing ‘wind as
      power’, and set sail for the Pacific archipelago to visit nature-first
      Bawah Reserve. All this before we move back to Antigua to hide away for
      the rest of the end-of-year season, this time at the revived and reopened
      Hermitage Bay – plus much, much more. </p><p></p><p><em>Rest, relax and
      enjoy your winter</em></p>
    link_shop: >-
      https://www.mymagazinesub.co.uk/tide/back-issues/back-issues-2024/details/tide-issue-11/
    link_subscribe: https://www.mymagazinesub.co.uk/tide/
    spreads:
      - image: /uploads/issue-11/tide-magazine-sailing-lifestyle-travel-issue11-1.png
      - image: /uploads/issue-11/tide-magazine-sailing-lifestyle-travel-issue11-2.png
      - image: /uploads/issue-11/tide-magazine-sailing-lifestyle-travel-issue11-3.png
      - image: /uploads/issue-11/tide-magazine-sailing-lifestyle-travel-issue11-4.png
      - image: /uploads/issue-11/tide-magazine-sailing-lifestyle-travel-issue11-5.png
  - title: Number Ten
    image: /uploads/issue09/tide-magazine-sailing-lifestyle-travel-issue09-ofc.png
    available: In-Store Worldwide
    price: £12.00
    sold_out: false
    subscription_price: £54.00
    description_html: >-
      <p>For TIDE’s special tenth issue, it’s all eyes on Italy – specifically
      the Tuscan Archipelago, an ancient set of rugged, romantic isles set
      between vineyard and sea. We explore Pianosa, a former prison island for
      Mafia bosses which has become a beautiful example of rewilding, Elba, a
      gritty isle indelibly associated with Napoleon yet with so much more to
      her story, plus a string of smaller spots full of surprises in our La
      Dolce Vita Itinerary. Out on the water, we delve into a mighty trio of at
      once rapid and sleek boats and brands: from new ocean gladiator
      <em>Maximus</em> and the legendary <em>Kokomo</em> to the
      fast-accelerating Gunboat brand, before circling back and picking out our
      ten favourite destinations sailed to so far in honour of our double-digit
      edition – plus much, much more.</p><p></p><p><em>Amore, vela e sole</em>
      (‘Love, sailing and sun’)</p>
    link_shop: >-
      https://www.mymagazinesub.co.uk/tide/back-issues/back-issues-2024/details/tide-issue-10/
    link_subscribe: https://www.mymagazinesub.co.uk/tide/
    spreads:
      - image: /uploads/issue09/tide-magazine-sailing-lifestyle-travel-issue09-1.png
      - image: /uploads/issue09/tide-magazine-sailing-lifestyle-travel-issue09-3.png
      - image: /uploads/issue09/tide-magazine-sailing-lifestyle-travel-issue09-2.png
      - image: /uploads/issue09/tide-magazine-sailing-lifestyle-travel-issue09-4.png
      - image: /uploads/issue09/tide-magazine-sailing-lifestyle-travel-issue09-5.png
  - title: Number Nine
    image: /uploads/issue-09/tide-magazine-sailing-lifestyle-travel-issue-09-6.png
    available: In-Store Worldwide
    price: £10.00
    sold_out: false
    subscription_price: £54.00
    description_html: >-
      <p>Inspired by the 37th America’s Cup, TIDE’s ninth issue celebrates the
      boats that helped build the prestigious contest – from meeting a Captain
      with 10 years’ experience sailing J Class veteran <em>Velsheda</em>, to
      remembering the Twelve Metre heroes, still the longest-running Class in
      yachting history. Fast-forward 173 years, and we hone in on the latest
      pinnacle of design: the first ever racing Superyacht, <em>Raven</em>. Her
      Captain, designer and Sailing Manager all share with us how she came to
      be. And while the world’s best sailors battle it out on the water, we
      invite you to explore Barcelona’s new wave of Catalonian cuisine, before
      sailing to the nearby Balearics with our sailing itinerary for each island
      – plus much, much more.</p><p></p><p><em>Prepárate, Vamos!</em> (‘Get
      ready, let’s go!’)</p>
    link_shop: >-
      https://www.mymagazinesub.co.uk/tide/back-issues/back-issues-2024/details/tide-issue-9/
    link_subscribe: https://www.mymagazinesub.co.uk/tide/
    spreads:
      - image: >-
          /uploads/issue-09/tide-magazine-sailing-lifestyle-travel-issue-09-1.png
      - image: >-
          /uploads/issue-09/tide-magazine-sailing-lifestyle-travel-issue-09-2.png
      - image: >-
          /uploads/issue-09/tide-magazine-sailing-lifestyle-travel-issue-09-3.png
      - image: >-
          /uploads/issue-09/tide-magazine-sailing-lifestyle-travel-issue-09-4.png
      - image: >-
          /uploads/issue-09/tide-magazine-sailing-lifestyle-travel-issue-09-5.png
  - title: Number Eight
    image: /uploads/issue08/tide-magazine-sailing-lifestyle-travel-issue08-ofc.png
    available: In-Store Worldwide
    price: £10.00
    sold_out: false
    subscription_price: £54.00
    description_html: >-
      <p>For TIDE’s eighth and two-year anniversary issue we explore the
      seafarer's dream location of French Polynesia, including long-standing
      hidden gem Teti'aroa, an atoll that delighted Marlon Brando so much he
      quickly chose to call it home. We check into The Brando, the hotel he
      helped devise, and which continues to set ecotourism standards today.
      Elsewhere, we spend a calm afternoon sailing off Antigua with the owners
      of two yachts from go-to Dutch designers Dykstra and Hoek, have a tour
      around legendary designer Malcolm McKeon’s new studio and cruise 107'
      <em>Ribelle</em>, one of his creations, as well as look back at one of
      Perini Navi’s big distinctive boats, <em>Asahi</em> – plus much, much
      more.</p>
    link_shop: >-
      https://www.mymagazinesub.co.uk/tide/back-issues/back-issues-2024/details/tide-issue-8/
    link_subscribe: https://www.mymagazinesub.co.uk/tide/
    spreads:
      - image: /uploads/issue08/tide-magazine-sailing-lifestyle-travel-issue08-2.png
      - image: /uploads/issue08/tide-magazine-sailing-lifestyle-travel-issue08-3.png
      - image: /uploads/issue08/tide-magazine-sailing-lifestyle-travel-issue08-5.png
      - image: /uploads/issue08/tide-magazine-sailing-lifestyle-travel-issue08-4.png
      - image: /uploads/issue08/tide-magazine-sailing-lifestyle-travel-issue08-1.png
  - title: Number Seven
    image: /uploads/Issue7_TM_Cover-Mockup.png
    available: In-Store Worldwide
    price: £10.00
    sold_out: false
    subscription_price: £54.00
    description_html: >-
      From Bermuda to the Bahamas, for TIDE’s seventh issue we are on an epic
      North Atlantic and Caribbean tour. We experience paradise islands not lost
      on the San Blas off Panama; the warmth of a family-owned island resort
      well run at Kamalame Cay; Barbuda’s finest views from a table at its
      beachside Nobu restaurant; and ‘mythical sea serpents’ up-close at the
      world’s first Sperm whale sanctuary off Dominica. We also learn more than
      ever about the latest eco-friendly Superyacht building technologies, after
      sitting down with the owners of three beautiful boats, including
      philanthropist Wendy Schmidt who shares the story of her mothership Elfje
      – plus much, much more.
    link_shop: >-
      https://www.mymagazinesub.co.uk/tide/back-issues/back-issues-2023/details/tide-issue-7/
    link_subscribe: https://www.mymagazinesub.co.uk/tide/
    spreads:
      - image: /uploads/Issue-7-mockups11.png
      - image: /uploads/Issue-7-mockups17.png
      - image: /uploads/Issue-7-mockups19.png
      - image: /uploads/Issue-7-mockups23.png
      - image: /uploads/Issue-7-mockups38.png
  - title: Number Six
    image: /uploads/TIDE-Magazine-Issue-6-Cover-mockup-2.png
    available: In-Store Worldwide
    price: £10.00
    sold_out: false
    subscription_price: £54.00
    description_html: >-
      <p>For this issue, we go on an unforgettable exploration off British
      Columbia, where we witness whales, bears, sea eagles and much more. We
      also visit Baltic Yachts as they hit 50 years of innovation, interview its
      trail-blazing founder PG Johansson and profile new ‘Pocket Superyacht’,
      Open Season. We meet the people behind pioneering Superyacht
      sustainability group, FoundationZero, and eco-friendly private chef
      service, Cru. On land, we check in to family-owned hotel Les Regalia to
      explore Corsica, before discovering secret beaches and the very prettiest
      spots on Sardinia.</p>
    link_shop: >-
      https://www.mymagazinesub.co.uk/tide/back-issues/back-issues-2023/details/tide-issue-6/
    link_subscribe: https://www.mymagazinesub.co.uk/tide/
    spreads:
      - image: /uploads/Issue6_TM_13.png
      - image: /uploads/Issue6_TM_25.png
      - image: /uploads/Issue6_TM_27.png
      - image: /uploads/Issue6_TM_30.png
      - image: /uploads/Issue6_TM_36.png
  - title: Number Five
    image: /uploads/TIDE-Magazine-Issue05-cover.png
    available: In-Store Worldwide
    price: £10.00
    sold_out: false
    subscription_price: £54.00
    description_html: "<p>Everything that the Mediterranean summer brings is the focus of TIDE Number Five: we take in the iconic blue-and-white pastels of Greece, barefoot <em>dolce vita</em> living on the Italian island of Elba, plus local foodie secrets on Palma di Mallorca. We also welcome <em>Alea, </em>the Superyacht of the year, join <em>Ghost </em>off Antigua, another pivotal yacht for the Vitters’ yard, and look at <em>Sea Eagle</em>, the three-mastered schooner that has quietly been sailing the World’s oceans – plus much, much more.&nbsp;&nbsp;</p><p>\_</p><p><em>ΑΓΑΠΩ το καλοκαιρι - Love Summer</em></p>"
    link_shop: >-
      https://www.mymagazinesub.co.uk/tide/back-issues/back-issues-2023/details/tide-issue-5/
    link_subscribe: https://www.mymagazinesub.co.uk/tide/
    spreads:
      - image: /uploads/TIDE-Magazine-Issue05-SeaEagle.png
      - image: /uploads/TIDE-Magazine-Issue05-Ghosted.png
      - image: /uploads/TIDE-Magazine-Issue05-WindsofChange.png
      - image: /uploads/TIDE-Magazine-Issue05-Hotel.png
      - image: /uploads/TIDE-Magazine-Issue05-HiddenGems.png
  - title: Number Four
    image: /uploads/tide-magazine-issue-4-cover-mockup.png
    available: In-Store Worldwide
    price: £10.00
    sold_out: false
    subscription_price: £54.00
    description_html: >-
      <p>A year after the first copy of TIDE hit the shelves, we delve deeper
      into the uncharted waters of the Arctic Circle, explore hidden coves in
      Montenegro and Croatia, and sample local dishes in French Polynesia. This
      issue is all about fresh approaches, as we return to Schooners and Ketches
      from a new angle, interview 11th Hour founder Wendy Schmidt, and hop
      aboard an ocean rescue helicopter with CalvinAir.</p>
    link_shop: >-
      https://www.mymagazinesub.co.uk/tide/back-issues/back-issues-2023/details/tide-issue-4/
    link_subscribe: https://www.mymagazinesub.co.uk/tide/
    spreads:
      - image: /uploads/tide-magazine-number4-20-21.png
      - image: /uploads/tide-magazine-number4-36-37.png
      - image: /uploads/tide-magazine-number4-40-41.png
      - image: /uploads/tide-magazine-number4-48-49.png
      - image: /uploads/tide-magazine-number4-68-69.png
  - title: Number Three
    image: /uploads/tide-magazine-issue-3-cover-mockup.png
    available: In-Store Worldwide
    sold_out: false
    price: £10.00
    subscription_price: £54.00
    description_html: >-
      <p>This issue, we sail around some hidden Caribbean gems, put our feet up
      at Dominica’s eco-obsessed Secret Bay Hotel, and chart a course around
      Costa Rica’s Pacific coastline. Before heading off in search of warmer
      climes, we also took a deep dive into the extraordinary history of the
      Schooner, and spoke with leading ocean environmentalist Charles Clover, as
      well as much more.</p>
    link_shop: >-
      https://www.mymagazinesub.co.uk/tide/back-issues/back-issues-2022/details/tide-issue-3/
    link_subscribe: https://www.mymagazinesub.co.uk/tide/
    spreads:
      - image: /uploads/tide-magazine-issue3-12-13.png
      - image: /uploads/tide-magazine-issue3-21-21.png
      - image: /uploads/tide-magazine-issue3-42-43.png
      - image: /uploads/tide-magazine-issue3-48-49.png
      - image: /uploads/tide-magazine-issue3-58-59.png
  - title: Number Two
    image: /images/tide-cover.png
    video_path: /videos/tide-magazine-mockup.mp4
    available: In-Store Worldwide
    sold_out: true
    price: £10.00
    subscription_price: £54.00
    description_html: >-
      <p>We delve into what the changing tide of the Superyacht lifestyle means
      – from eco interiors to semi-custom ‘Pocket Superyachts,’ ultra-luxe
      adventure charters to night diving for rock lobster off Antigua. In
      travel, we explore Saint Tropez’ lesser-known environs, Caribbean coral
      reefs gardens, and an epic voyage from Panama to the Pacific.</p>
    link_shop: >-
      https://www.mymagazinesub.co.uk/tide/back-issues/back-issues-2022/details/tide-issue-2/
    link_subscribe: https://www.mymagazinesub.co.uk/tide/
    spreads:
      - image: /uploads/tide-magazine-issue2-mockup-contents.png
      - image: /uploads/tide-magazine-issue2-mockup-bequia01.png
      - image: /uploads/tide-magazine-issue2-mockup-perseverance01.png
      - image: /uploads/tide-magazine-issue2-mockup-princesspalace.png
      - image: /uploads/tide-magazine-issue2-mockup-tonicofwildness.png
  - title: Number One
    image: /images/tide-magazine-number1-coverr.png
    available:
    sold_out: true
    price: £10.00
    subscription_price: £54.00
    description_html: >-
      <p>We explore Baltic’s Canova and travel from the Seychelles to Socorro.
      We tour the Azores, forage in the sea, talk work-life balance with
      Superyacht Chefs Nathan Clements &amp; Pip Crowley, hear from Olympic
      sailing gold medallists Tuke and Burling about their mission to save the
      oceans, and discuss the merits of the Supersloop. Plus, more…</p>
    link_shop: >-
      https://www.mymagazinesub.co.uk/tide/back-issues/back-issues-2022/details/tide-issue-1/
    link_subscribe: https://www.mymagazinesub.co.uk/tide/
    spreads:
      - image: /uploads/tide-magazinemockups-modern-ketch.png
      - image: /uploads/tide-magazinemockups-catisback.png
      - image: /uploads/tide-magazinemockups-socialmedia-4.png
      - image: /uploads/tide-magazinemockups-socialmedia-5.png
      - image: /uploads/tide-magazinemockups-chefs-1.png
subscribe_image: /uploads/issue08/TIDE-magazine-sailing-lifestyle-travel-issue-09-mockup.jpg
merchandise:
  - title: Rebuilding Reefs Print
    first_image: /images/tide-environment-mockup-05.jpg
    second_image: /uploads/tide-environment-mockup-01.jpg
    available:
    price: £32.00
    description_html: >-
      <p>For TIDE Number Two, marine scientist and artists Molly Wilson shared
      the story of her mission to save Antigua&rsquo;s marine ecosystems, and
      also created this unique artwork exclusively for the magazine. After
      extensive assessments of the Caribbean island&rsquo;s dwindling coral
      population, Molly Wilson and Genevieve Renaud-Byrne decided to act, and
      now run Elkhorn Marine Conservancy. This limited edition poster -
      Rebuilding Reefs - is a tribute to the fantastic grassroots efforts of
      people like Wilson and Renaud-Byrne.</p>
    link_shop:
    link_subscribe:
  - title: Live Ocean Print
    first_image: /uploads/tide-environment-mockup-02.jpg
    second_image: /images/tide-environment-mockup-03.jpg
    available:
    price: £32.00
    description_html: >-
      <p>In our first ever issue of TIDE, we commissioned illustrator Josephine
      Walker to create a unique illustration for a story about Olympic gold
      sailing medalists Blair Tuke and Peter Burling on their work with Live
      Ocean to help preserve and restore of the world&rsquo;s oceans. The Great
      Circle poster will be a limited edition print run, an ideal gift for
      anyone with a passion for helping the oceans we sail and love.</p>
    link_shop:
    link_subscribe:
---
<section class="padded-2"></section>




{% for item in page.issue_list %}

{% if item.hidden == true %}
{% else %}
<section class="padded-ntb grid-center">

    <div class="col-5_sm-12 relative">
      
        <img class="img-mag" src="{{item.image}}" />
        <!-- <video id="myVideo" class="bg-video bg_cover vw-100 vh-100" autoplay muted playsinline autobuffer="true" loop poster="{{item.image}}">
        <source src="{{item.video_path}}" type="video/mp4" />
  
        Your browser does not support the video tag.
        
       -->



    </div>
    <div class="col-5_sm-12 padded-2">
        <h4 class="blue-text smaller mb-1 mt-4"> TIDE MAGAZINE </h4>

        <h2 class="blue-text huge mt-1 mb-1">{{item.title}} </h2>

        <h3 class="mb-1 white bigger"> {{item.available}}</h3>


        <h3 class="bigger blue-text mb-2">{{item.price}} <span class="small-text">SINGLE issue</span> /  {{item.subscription_price}}  <span class=" small-text">SUBSCRIPTION (4 issues/YEAR)</span></h3>
     
          
  
        <p class="blue-text"> {{item.description_html}}</p><br /><br />
        <p></p>
        <p></p>

      {% if item.sold_out == true %}
      <h3 class="bigger blue-text mb-2 small-text" style="color:red">Out of stock </h3>

        {% else %}
        <a href="{{item.link_shop}}" class="btn-white mt-2">Buy now </a>     <a href="{{site.data.links.subscribe_link}}" class="btn-white"> subscribe  </a>
        {% endif %}
     
    </div>
  


</section>
<section class="padded-2"></section>

<!-- <section class="grid-center" style="margin-top: -5rem;">
  <div class="col-10_sm-12">
    {% include mag-slider.html %}
  
 -->
{% endif %}
{% endfor %}



<section class="padded-2"></section>

<!-- number 2 out now -->
<span id="subscribe"></span>
<section class="padded grid-center bg-white mob-pad">
    <div class="col-7_md-12 bg-60 bg-small" style="background-image:url('{{page.subscribe_image}}')">
  
    </div>
    <div class="col-1 mob-hide"></div>
  <div class="col-4_md-12_sm-12 flex-display">
    <div class="block editable padded-2 no-padding">
        <h2 class=" huge mt-1 mb-1">Subscribe &amp; Save</h2>
        <h3 class="mb-1">Choose your subscription</h3>
        <h4 class="blue-text smaller mb-2">Single issue £10.00 + postage <br /><br /> 4 Quarterly issues £54.00</h4>
        <p class="mt-2 mb-2"> TIDE Magazine offers an authentic and sophisticated perspective, to explore the shifts and changes at the very core of the sailing world and the ocean adventure: the vessels, the people, the experiences, the destinations— the many facets that entice so many individuals around the world to pursue this alluring form of exploration. <br /><br /> Subscribe today and join us in the sailing adventure, Superyachts, travel, design, lifestyle and sustainability - we seek to inspire our audience to explore and enjoy sailing to its fullest. </p><a href="{{site.data.links.subscribe_link}}" class="btn-border"> SUBSCRIBE </a>
    </div>
  </div>
  
  
  
  </section>






<!-- <section class="padded grid-center mob-pad">
  <span id="merchandise"></span>
  {% for item in site.products %}
<div class="col-5_sm-12 grid">
    <div class="col-12_sm-12 relative">



        <img class="img-hidehover" src="{{ item.first_image }}" />
        <img class="img-merch" src="{{ item.second_image }}" />
  
    </div>
    <div class="col-12_sm-12 padded-2 mb-mob mob-pad">


        <h2 class="blue-text mt-1 mb-1">{{item.title}} </h2>

        <h3 class="mb-1 white bigger">{{item.available}}</h3>
        <h4 class="blue-text"> {{item.price}} </h4><br />
        <p class="white"> {{item.description_html}}</p>

        <div class="shopify-box">
          {{ item.content }}
          </div>
     
    </div>
  </div>
    {% endfor %}

 -->



