<div class="navigation-bar flex-display w-full">

    <a href="/sailing" class="p0-button active filter-grid-button {{page.hide-nav}}"> Sailing</a>
    <a href="/lifestyle" class="p1-button filter-grid-button {{page.hide-nav}}">Lifestyle</a>
    <a href="/environment" class="p2-button filter-grid-button {{page.hide-nav}}">Environment</a>
    <a href="/travel" class="p3-button filter-grid-button {{page.hide-nav}}">Travel</a>
    <a href="/design" class="p4-button filter-grid-button {{page.hide-nav}}">Design</a>

 
  </div>

  