<!DOCTYPE html>
<html>
<head>
<head  profile="http://www.w3.org/2005/10/profile">

    <link rel="icon"
        type="image/png"
        href="/images/favicon-57.png" />

  <!-- Meta Data -->
    <meta charset="utf-8">

    <!-- Meta data for SEO purposes. -->
    <title> {{page.title}} </title>
    <meta name="description" content="{{page.meta-description}}">
    <meta name="keywords" content="{{page.meta-keywords}}">

    <!-- meta data to tell the browser that your device is responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    {% if page.seo.hide-from-google == true %}
    <meta name="robots" content="noindex, nofollow">
    {% else %}
    <meta name="robots" content="index, follow">
    {% endif %}

    <!--  Social media sharing META Tags -->
    <meta property="og:title" content="{{page.title}}">
    <meta property="og:description" content="{{page.meta-description}}">
    <meta property="og:image" content="{{page.featured-image_path}}">
    <meta property="og:url" content="{{page.url}}">
    <meta name="twitter:card" content="{{page.meta-description}}">
    <meta name="og:site_name" content="<!-- TIDE Magazine -->">

  <!-- end of meta tags -->

<!-- GOOGLE FONTS -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Crimson+Text:ital@0;1&family=Overpass:wght@200;300;700&display=swap" rel="stylesheet">
  <!-- Gridlex -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css"></link>

  <!-- Font Awesome Version 5 for Icons  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />

  <!-- Magnific Popup for lightbox galleries   -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" />

  <!-- Lightgallery - popup image gallery -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.1.8/css/lightgallery-bundle.min.css" integrity="sha512-7xAjdVc23n18sYEAZKa79271IRUS1XzylIyJ8feyXvjrbbr4oId92993EiGTAP63Ob6KplRnmbNmBOg6bpLjYw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- AOS -->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <!-- Lightgallery - image pop-up -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.1.8/lightgallery.min.js" defer></script>

  <!-- this is javascript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.10/typed.min.js" defer></script>

  <script src="/javascript/scripts.js" defer></script>
  <script src="/javascript/fading-words.js" defer></script>


  <!-- our own custom stylesheet -->
  <link rel="stylesheet" href="/style.css"/>

</head>
<body class="{{page.colour-bg}}">

  
<header class="grid-center">
  <div class="nav mt-2 block mob-hide" style="position:absolute; left:1%; top:0;margin-top: 1rem;">
<!-- <a href="{{site.data.links.buy_link}}" class="btn-border"> Store </a> -->
<a href="{{site.data.links.subscribe_link}}" class="btn-border"> Subscriptions </a>

</div>
<div class="col-8_sm-12 centered mob-left">

  <a href="/index">
    <img class="logo_header"  src="/images/tide-magazine-sailing-lifestyle-travel-logo-blue.png" />
  </a>

</div>


  <!-- burger menu -->

  <nav>
          <div class="burger-button">
           
              <span class="burger-top"></span>
              <span class="burger-middle"></span>
              <span class="burger-bottom"></span>
        
          </div>
           <div class="burger-menu relative">
           
            <!-- <img class="burger-img med-hide mob-hide" src="/images/tide-magazine-sailing-bequia-yaght-profile.jpg"> -->
            <!-- <a href="/index.html" class="mt-4 mt-big hide-3"> Home</a> -->
        
        
    
            <a href="{{site.data.links.subscribe_link}}" class="mt-big"> Subscriptions </a>
            <!-- <a class="mob-show" href="{{site.data.links.buy_link}}"> Store </a> -->
            <a  class="" href="/sailing"> Sailing</a>
            <a  class="" href="/lifestyle"> Lifestyle </a>
     
            <a href="/environment">Environment</a>
            <a href="/travel">Travel</a>
            <a href="/design">Design</a>

            <!-- <a href="/sounds" class=""> Sounds </a> -->
          

 
            {% include footer-burger.html %}
     
          </div>
          
       
       
        </nav>


</header>


{{content}}

<section class="mob-hide">
  {% comment %}
  {% include slider-logos.html %}
  {% endcomment %}

</section>


<footer class="grid-center dark-blue padded-2 mob-padding">


  <div class="col-5_sm-12 left">

    <!-- <img class="logo_small mb-1 mob-center" src="/images/tide-logo-yellow.png"> -->
        <div class="mob-center px-4">

          <p class="white mb-1 mt-1 editable"> TIDE is an independent sailing, lifestyle and travel magazine, published in print and digital. <span class="mob-hide">We explore the shifts and changes at the core of the sailing world and the ocean adventure: the vessels, the people, the experiences, the destinations — the many facets that entice individuals around the world to pursue this alluring form of adventure.</span></p>
       <a href="https://www.instagram.com/thetidemagazine" target="_blank" class="editable"><i class="fab fa-instagram white"></i></a>
       <!-- <a href="https://www.linkedin.com/company/" target="_blank">  <i class="fab fa-linkedin white"></i></a> -->
       <a href="https://www.facebook.com/thetidemagazine/" target="_blank" class="editable"> <i class="fab fa-facebook-square white"></i> </a>
       <p  class="footer-text mt-1 mob-hide mb-1 white">  © <span id="year"></span>, TIDE Magazine. Website by <a target="_blank" href="https://klioh.com/"> Klioh Studio. </a>
       </p>
      </div>

</div>

<div class="col-1"></div>
  <div class="col-3_sm-12 left mob-hide">

    <nav class="block px-4">
      <h4 class="white text-sm mb-1"> MEDIA </h4> 
      <a href="{{site.data.links.subscribe_link}}"> Subscriptions </a>
      <!-- <a href="{{site.data.links.buy_link}}"> Store </a> -->
      <!-- <a href="/sounds"> Playlist </a>
       -->
     
    </nav>
  </div>

  <div class="col-3_sm-12 left mob-hide ">
    <nav class="block px-4 crimson">
      <h4 class="white text-sm mb-1"> INFO </h4> 
      <a href="{{site.data.links.subscribe_link}}"> Subscribe </a>
      <!-- <a href="/shipping">Shipping </a> -->
      <a href="/terms-and-conditions">T&Cs </a>
          <a href="/contact"> Contact </a>
     
    </nav>
  </div>



  <div class="col-4_sm-12 centered hide-2 mt-1">
    <nav class="centered white">
      <!--<a href="/shipping" class="white">Shipping </a>-->
      <a href="{{site.data.links.buy_link}}" class="white"> Magazine </a>
          <a href="/contact" class="white"> Contact </a>
    </nav>

  </div>



</div>
<div class="col-12 hide-2 centered">
  <p  class="footer-text mt-1">  © <span id="year-mob"></span>, TIDE Magazine. Website by <a target="_blank" href="https://klioh.com/"> Klioh Studio </a>
 </p>
</div>
<div class="col-8 hide-3"> </div>


</footer>


<script>
  // ------------ AUTO UPDATE FOOTER YEAR
  document.getElementById("year").innerHTML = new Date().getFullYear();
  document.getElementById("year-mob").innerHTML = new Date().getFullYear();

</script>

  





</body>
</html>
